/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

/* Color Themes */
/* {
  "Space Cadet":"222e50",
  "Xanadu":"#808f85",
  "Coral":"ff8552",
  "Ghost White":"fbfbff",
  "Onyx":"39393a",
} */

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #39393A;
}

footer {
  color: #808f85;
}

.title {
  @apply text-6xl;
  color: #ff8552;
}

h1 {
  @apply text-6xl my-2;
  color: #ff8552;
}

h2 {
  @apply text-3xl my-2;
}

h3 {
  @apply text-2xl my-2;
}

h4 {
  @apply text-xl my-2;
}

h5 {
  @apply text-lg my-2;
}

a {
  color: #ff8552;
}

* {
  color: #fbfbff;
}
